<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
    <div class="row">
        <h1 class="display-1 col-6 text-center" style="font-family:calibri;"><b></b></h1>
        <h1 class="display-1 lol" style="font-family:calibri;"><b>Not Found</b></h1>
        <h1 class="display-1 lol col-2 text-center" style="font-family:calibri;"><b>404</b></h1>
        <div class="col-6 text-center">
            <img src="/picture/404.png" alt="404">
        </div>
    </div>
</div>