<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="icon" href="/picture/SMK (1).png">

    <!-- Source CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- MDBootstrap Datatables  -->
    <link href="/css/addons/datatables.min.css" rel="stylesheet">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- body %>
        <script src="/js/jquery-3.5.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/style.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="js/addons/datatables.min.js"></script>
</body>

</html>