<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh">
    <form class="poin_card">
        <div class="container p-5">
            <div class="text-center mb-5">
                <h2 class="wtxt">Poin Anda Sekarang</h2>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <div class="number_card">
                    <div class="container d-flex justify-content-center">
                        <h1 class="display-1 font-weight-bold statuscg">50</h1>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-2">
                <h2 class="wtxt">Tambah Poin</h2>
            </div>
            <div class="input-group mb-4">
                <div class="container d-flex align-items-center justify-content-center">
                    <input type="text" name="" class="form-control-number input_number text-center display-1
                            font-weight-bold" value="" placeholder="Poin">
                </div>
            </div>
            <div class="d-flex justify-content-center login_container">
                <button type="button" name="button" class="btn login_btn">Tambah</button>
            </div>
        </div>
    </form>
</div>